scipy
matplotlib
matplotlib-inline
numpy
plotly
dash
dash_bootstrap_components
qutip
scikit-learn
tqdm
h5py
decorator
dash
pytest
fsspec
pyyaml
decorator
h5py
labchronicle @ git+https://github.com/ShuxiangCao/LabChronicle