-r requirements.txt

ipdb>=0.13,<1.0
ipywidgets>=8.0,<9.0
kaleido>=1.0,<2.0
jupyter>=1.0,<2.0
nbconvert>=7.0,<8.0
nbformat>=5.0,<6.0

k_agents @ git+https://github.com/EvoEvolver/k_agents@03701d16e75a28095c0613e37f4ec8a8139a06ac
MinimalLLM @ git+https://github.com/EvoEvolver/MinimalLLM@107daa1f9def6faf26fd7e5385f4f45bba556a35
