scipy
matplotlib
matplotlib-inline
numpy < 2.0.0
plotly
dash
dash_bootstrap_components
qutip
scikit-learn
tqdm
h5py
decorator
dash
pytest
fsspec
pyyaml
decorator
h5py
uncertainties
labchronicle @ git+https://github.com/ShuxiangCao/LabChronicle
MinimalLLM
markdownify
ipywidgets
kaleido
markdownify
pandas
dill
asteval
