scipy
matplotlib
matplotlib-inline
numpy < 2.0.0
plotly
dash
dash_bootstrap_components
qutip
scikit-learn
tqdm
h5py
decorator
dash
pytest
fsspec
pyyaml
decorator
h5py
uncertainties
labchronicle @ git+https://github.com/ShuxiangCao/LabChronicle
k_agents @ git+https://github.com/EvoEvolver/k_agents
MinimalLLM @ git+https://github.com/EvoEvolver/MinimalLLM
ipywidgets
kaleido
pandas
dill